.country-container {
  display: grid;
  grid-template-columns: 1fr; // 5 columns by default (large screens)
  gap: 40px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr); // 3 columns for tablets
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr); // 4 columns for small laptops
  }
}
