/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-primeui";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default (light) theme variables */
:root {
  --background-header: #ffffff;
  --background-card: #ffffff;
  --background-main: #f8f9fa;
  --foreground-main: #111517;
  --border-card: #2DD4BF;
  --font-main: "Nunito", sans-serif;
}

/* Dark theme variables */
body.dark-mode {
  --background-header: #2b3945;
  --background-card: #2b3945;
  --background-main: #202c37;
  --foreground-main: #ffffff;
}
