@use "./styles/_variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-bg: #ffffff; // default value
  --card-bg: #ffffff; // default value
}

// Mixin to apply theme
@mixin theme($theme-map) {
  background-color: map-get($theme-map, $key: bg);
  color: map-get($theme-map, $key: text);
}

// Light theme (default)
body {
  font-family: "Nunito", sans-serif;
  @include theme($light-theme);
}

// Dark theme (using a class on body or html)
body.dark-mode {
  font-family: "Nunito", sans-serif;
  @include theme($dark-theme);
}
